body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.navy {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.lhs {
    display: flex;
}

.navy {
    position: -webkit-sticky;
    position: sticky;
    height: 10 px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navy>.lhs>div {
    margin-right: 25px;
    text-decoration: royalblue;
}

.lhs a {
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}

.navy:hover {
    border-bottom: 1px solid black;
}

.navy a:hover {
    color: blue;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image img {
    padding: 50px;
    width: 40%;
}

.about {
    padding: 30px;
}

.seal {
    padding: 30px;
}

.active {
    border-bottom: 1px solid;
}