body {
    font-family: 'Lato', sans-serif;
}

body.dark-mode {
    background-color: #222;
    color: #bbb;
}

body.dark-mode a {
    color: #bbb;
}

/* Dark Mode Toggle Button */
.dark-mode-switch {
    position: fixed;
    top: 10px;
    right: 10px;
}

.dark-mode-switch input {
    height: 0;
    width: 0;
    visibility: hidden;
}

.dark-mode-switch label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: #1ba1f3;
    display: block;
    border-radius: 100px;
    position: relative;
}

.dark-mode-switch label::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 23px;
    height: 23px;
    background: #fff;
    border-radius: 90px;
    transition: 0.1s;
}

.dark-mode-switch input:checked + label {
    background: #1ba1f3;
}

.dark-mode-switch input:checked + label::after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

/* Menu Sidebar */
.sidebar {
    position: fixed;
    height: 100%;
    background-color: #fff;
    width: 17.5%;
    box-shadow: 0 0.5rem 1.5rem rgba(59, 10, 208, 0.5);
}

body.dark-mode .sidebar {
    box-shadow: 0 0.5rem 1.5rem rgba(255, 255, 255, 0.75);
    background-color: #222;
    color: #bbb;
}

.sidebar a {
    color: black;
    text-decoration: none;
}

body.dark-mode .sidebar a {
    color: #bbb;
}

body.dark-mode .sidebar a:hover, body.dark-mode .sidebar a.active {
    color: #1ba1f3;
    text-shadow: none;
}

.sidebar a:hover {
    color: rgb(10, 10, 170);
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li a.active {
    color: rgb(10, 10, 170);
    text-shadow: 0.25px 0.25px #448ff1;
}

.nav-list {
    padding-left: 2em;
    padding-right: 2em;
}

.first-nav-item {
    padding: 0.5em;
}

.second-nav-item {
    padding: 0%;
}

.second-nav-item ul li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* Sidebar Toggle Button */
.sidebar.collapsed {
    width: 2%;
}

.handle {
    position: absolute;
    right: 0;
    width: 15px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.sidebar.collapsed .nav-list {
    transform: translateX(-100%);
}

.sidebar.collapsed .nav-list a {
    display: none;
}

.handle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
}

.sidebar.collapsed .handle::before {
    transform: translate(-50%, -50%);
}

/* Page Content */
.page-content {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    padding-left: 27.5%;
    padding-right: 10%;
}

.citation-text {
    font-family: Garamond, serif;
    padding-left: 1%;
    padding-right: 1%;
}

.important-text {
    font-family: Garamond, serif;
}

/* MathJax Content */
.math-content {
    overflow-x: scroll;
    overflow-y: hidden;
}

.math-content::-webkit-scrollbar {
    display: none;
}

.hidden-content {
    min-height: 4em;
    overflow: hidden;
    overflow-x: scroll;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgba(58, 10, 202, 0.3);
}

.hidden-content::-webkit-scrollbar {
    display: none;
}

body.dark-mode .hidden-content {
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5); 
}

.hint-content {
    display: none;
}

.hidden-content:hover .hint-content {
    display: block;
}

.hidden-hr {
    display:none
}

.hidden-content:hover .hidden-hr {
    display: block;
    width: 75%;
    margin: 0 auto;
}

/* Extra */
pre {
    box-shadow: 0 0.5rem 2.5rem rgba(227, 2, 247, 0.1);
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* Images */
.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.scaled-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}
