:root {
    --background-dark: #222;
    --text-dark: #ccc;
    --background-light: #f2f2f2;
    --menu-background-light: #ebebeb;
    --text-light: #333;
    --link-color-dark: #4ab7fa;
    --link-color-light: rgb(151, 10, 202);
    --box-shadow-dark: rgba(255, 255, 255, 0.5);
    --box-shadow-light: rgba(200, 200, 200, 0.5);
}

/*General*/
body {
    font-family: 'Lato', sans-serif;
    background-color: var(--background-dark);
    color: var(--text-dark);
}

a {
    color: var(--text-dark);
    text-decoration: none;
}

body.light-mode {
    background-color: var(--background-light);
    color: var(--text-light);
}

body.light-mode a {
    color: var(--text-light);
}


/* Dark Mode Toggle Button */
.dark-mode-switch {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 52px;
    height: 27px;
}

.dark-mode-switch input {
    height: 0;
    width: 0;
    visibility: hidden;
}

.dark-mode-switch label {
    cursor: pointer;
    width: 52px;
    height: 27px;
    background: #ffcc00;
    display: block;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
}

.icon {
    position: absolute;
    width: 23px;
    height: 23px;
    transition: opacity 0.3s ease;
}

.sun-icon {
    top: 1.5px;
    left: 1.5px;
    opacity: 1;
}

.moon-icon {
    top: 1.5px;
    right: 1.5px;
    opacity: 0;
}

.dark-mode-switch input:checked + label {
    background: #1ba1f3;
}

.dark-mode-switch input:checked + label .sun-icon {
    opacity: 0;
}

.dark-mode-switch input:checked + label .moon-icon {
    opacity: 1;
}

.dark-mode-switch label::after {
    content: none;
}

.dark-mode-switch input:checked + label::after {
    left: calc(100% - 1.5px);
    transform: translateX(-100%);
}


/* Menu Sidebar*/
.sidebar {
    position: fixed;
    height: 100%;
    background-color: var(--background-dark);
    color: var(--text-dark);
    width: 17.5%;
    box-shadow: 0 0.5rem 1.5rem var(--box-shadow-dark);
}

.sidebar a {
    color: var(--text-dark);
    text-decoration: none;
}

.sidebar a:hover, .sidebar a.active {
    color: var(--link-color-dark);
    text-shadow: none;
}

.sidebar a:hover {
    color: var(--link-color-dark);
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li a.active {
    color: var(--link-color-dark);
}

.nav-list {
    padding-left: 2em;
    padding-right: 2em;
}

.first-nav-item {
    padding: 0.5em;
}

.second-nav-item {
    padding: 0%;
}

.second-nav-item ul li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

body.light-mode .sidebar a {
    color: var(--text-light);
}

body.light-mode .sidebar {
    background-color: var(--menu-background-light);
    color: var(--text-light);
    box-shadow: 0 1.5rem 1.5rem var(--box-shadow-light);
}

body.light-mode .sidebar a:hover, 
body.light-mode .sidebar a.active {
    color: var(--link-color-light);
    text-shadow: 0.15px 0.15px 0.15px var(--link-color-light);
}


/* Sidebar Toggle Button */
.sidebar.collapsed {
    width: 2%;
}

.handle {
    position: absolute;
    right: 0;
    width: 15px;
    height: 100%;
    background-color: var(--box-shadow-dark);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.light-mode .handle {
    background-color: var(--box-shadow-light);
}


.handle-icon {
    width: 90%;
    height: auto;
}

.sidebar.collapsed .handle-icon {
    transform: rotate(180deg);
}

.sidebar.collapsed .nav-list {
    transform: translateX(-100%);
}

.sidebar.collapsed .nav-list a {
    display: none;
}


/* Page Content */
.page-content {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    padding-left: 27.5%;
    padding-right: 10%;
}

.citation-text {
    font-family: 'Roboto', sans-serif;
    padding-left: 1%;
    padding-right: 1%;
}

.important-text {
    font-family: 'Roboto', sans-serif;
}


/* MathJax Content */
.math-content {
    overflow-x: scroll;
    overflow-y: hidden;
}

.hidden-content {
    min-height: 4em;
    overflow: hidden;
    overflow-x: scroll;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0.5rem 1rem var(--box-shadow-dark);
}

body.light-mode .hidden-content {
    box-shadow: 0 0.25rem 1rem rgba(58, 10, 202, 0.3);
}

.hint-content {
    display: none;
}

.hidden-content:hover .hint-content {
    display: block;
}

.hidden-hr {
    display:none
}

.hidden-content:hover .hidden-hr {
    display: block;
    width: 75%;
    margin: 0 auto;
}

@media screen and (max-width:600px){
    .math-content{
        font-size: larger;
    }
}

@media screen and (min-width:600px){
    .math-content::-webkit-scrollbar, .hidden-content::-webkit-scrollbar {
        display: none;
    }
}


/* Code Content */
pre {
    box-shadow: 0 0.5rem 2.5rem rgba(227, 2, 247, 0.1);
}

.codeBlock { 
    font-family: monospace;
    white-space: pre-wrap;
}


/* Images */
.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.scaled-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}
